<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
        <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
        <style>
            html,body{
                height: 100%;
            }
            #rrapp{
                height: 100%;
            }
            .el-button--primary{
                width: 110px;
                height: 25px;
                padding: 0;
            }
            .box{
                display: flex;
                height: 100%;
            }
            .objectList{
                width: 220px;
                background: #fff;
                box-shadow: 0 0 10px #eee;
                margin-right: 10px;
            }
            .listCon{
                width: calc(100% - 230px);
            }
            .listCon .divBox{
                height: calc(100% - 50px);
            }
            .el-tree .el-tree-node.is-expanded>.el-tree-node__content{
                background: #fff;
                color: #2593f3;

            }
            .el-tree-node.is-expanded.is-current>.el-tree-node__content{
                background: #2593f3;
                color: #fff;
            }
            .el-tree-node.is-current>.el-tree-node__content{
                background: #2593f3;
                color: #fff;
            }
            .el-input__inner{
                width: 90%;
                margin: 0 5% 10px 5%;
            }
            .el-select{
                width: 100%;
            }
            .el-select .el-input__inner{
                display: block;
                width: 100%;
                margin: 0;
                height: 34px;
                padding: 6px 12px;
                font-size: 16px;
                line-height: 1.42857143;
                color: #555;
                background-color: none;
                background-image: none;
                border: 1px solid #d2d2d2;
                border-radius: 4px;
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
            .el-popper[x-placement^=bottom]{
                z-index:99999999999!important;
            }
            .listCon>.el-button{
                width: 120px;
                height: 40px;
                color: #2593f3;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 40px;
                padding: 0;
                font-weight: normal;
            }
            .listCon>.el-button.active{
                background: #2593f3;
                color: #fff;
                border-color: #2593f3;
            }
            #addUp .el-select .el-input__inner{
                background: #f1f4fb;
                border-color: #f1f4fb;
            }

        </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="box" v-show="showList">
        <div class="objectList">
            <div class="grid-btn">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    对象列表
                </span>
            </div>

            <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-tree class="filter-tree" :data="menuList" :props="props"
                     :filter-node-method="filterNode" ref="tree" accordion @node-click="handleNodeClick">
            </el-tree>
        </div>
        <div class="listCon">
            <button :class="tab == 0 ? 'el-button active' : 'el-button'" @click="tabClick(0)">待提交</button>
            <button :class="tab == 1 ? 'el-button active' : 'el-button'" @click="tabClick(1)">审核中</button>
            <button :class="tab == 2 ? 'el-button active' : 'el-button'" @click="tabClick(2)">审核通过</button>
            <div class="divBox" style="margin-bottom: 0;">

                <div class="grid-btn">
                    <span class="title">
                        <i class="el-icon-s-operation"></i>
                        数据列表
                    </span>
                    <div class="right">
                        <el-button size="medium" type="primary" @click="add">新增</el-button>&nbsp;&nbsp;
                        <el-button size="medium" type="primary" @click="subMit" v-if="tab == 0">提交</el-button>&nbsp;&nbsp;
                        <!--<el-button size="medium" type="primary" @click="update">修改</el-button>&nbsp;&nbsp;-->
                        <!--<el-button size="medium" type="primary" @click="del">删除</el-button>&nbsp;&nbsp;-->
                    </div>
                </div>
                <el-table
                        :data="tableList"
                        border
                        stripe
                        @selection-change="toggleSelection"
                        style="width: 100%">
                    <el-table-column
                            fixed
                            type="selection"
                            width="40">
                    </el-table-column>
                    <el-table-column
                            prop="meteType"
                            label="元数据类型"
                            width="120">
                        <template slot-scope="scope">
                            <span v-if="scope.row.meteType == 0">资源类型</span>
                            <span v-if="scope.row.meteType == 1">服务类型</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="resourceCategory"
                            label="信息资源类型"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="categoryName"
                            label="资源分类"
                            width="120">
                    </el-table-column>
                    <el-table-column
                            prop="catagoryCode"
                            label="资源分类编码"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="resourceTitle"
                            label="信息资源名称"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="organisationName"
                            label="资源提供单位"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="keyword"
                            label="关键字"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="resourceSign"
                            label="信息资源标识"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="metedataIdentifier"
                            label="元数据标识"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="updateTime"
                            label="更新时间"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            label="审核状态"
                            width="130">
                        <template slot-scope="scope">
                            <el-tag
                                    v-if="scope.row.reviewState == 0"
                                    size="small"
                                    type="warning"
                                    effect="dark">
                                待提交
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 1"
                                    size="small"
                                    type="warning"
                                    effect="dark">
                                审核中
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 2"
                                    size="small"
                                    type="success"
                                    effect="dark">
                                通过
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 3"
                                    size="small"
                                    type="danger"
                                    effect="dark">
                                未通过
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="发布状态"
                            width="130">
                        <template slot-scope="scope">
                            <el-tag
                                    v-if="scope.row.pushState == 0"
                                    size="small"
                                    type="danger">
                                未发布
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.pushState == 1"
                                    size="small"
                                    type="success">
                                已发布
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <i class="el-icon-edit" @click="update(scope.row.meteId)" v-if="scope.row.reviewState == 0 || scope.row.reviewState == 3"></i> <span v-if="scope.row.reviewState == 0" style="color: #ccc;display: inline-block;margin: 0 6px">|</span> <i class="el-icon-delete" @click="del(scope.row.meteId)" v-if="scope.row.reviewState == 0"></i>
                            <el-button v-if="scope.row.reviewState == 1" type="text" @click="revoke(scope.row.meteId)">撤回</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <br>
                <el-pagination
                        background
                        pager-count="1"
                        :current-page="page"
                        layout="prev, pager, next, jumper"
                        @current-change="layerPage"
                        :total="totalPage">
                </el-pagination>

            </div>
        </div>
    </div>

    <div v-show="!showList" class="">
        <div style="margin-bottom: 20px;overflow: hidden">
            <button class="look" @click="saveOrUpdate">确定</button>
            <button class="clean" @click="reload">取消</button>

        </div>
        <div class="divBox">
            <div class="grid-btn" style="border-bottom: 1px solid #eee;margin-bottom: 20px">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    {{title}}
                </span>

            </div>
            <div class="line">
                <div class="item">
                    <label>元数据类型</label>
                    <div class="inp">
                        <el-select v-model="resourceMeteData.meteType" placeholder="请选择">
                            <el-option
                                    key="0"
                                    label="资源类型"
                                    value="0">
                            </el-option>
                            <el-option
                                    key="1"
                                    label="服务类型"
                                    value="1">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="item">
                    <label>信息资源类型</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.resourceCategory" placeholder="信息资源类型（主题分类）"/>
                    </div>
                </div>
                <div class="item">
                    <label>目录名称</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.catalogName" placeholder="目录名称" @click="menuTree" readonly="readonly"/>
                    </div>
                </div>

            </div>
            <div class="line">
                <div class="item">
                    <label>资源分类</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.categoryName" placeholder="资源分类" @click="menuTree1" readonly="readonly"/>
                    </div>
                </div>
                <div class="item">
                    <label>资源分类编码</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.categoryCode" placeholder="资源分类编码" readonly="readonly"/>
                    </div>
                </div>
                <div class="item">
                    <label>信息资源名称</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.resourceTitle" placeholder="信息资源名称"/>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="item">
                    <label>资源提供单位</label>
                    <div class="inp">
                        <el-select v-model="resourceMeteData.organisationName" placeholder="请选择" @change="setCom">
                            <el-option
                                    v-for="item in comList"
                                    :key="item.organisationId"
                                    :label="item.organisationName"
                                    :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <!--<div class="item">-->
                    <!--<label>资源提供方地址</label>-->
                    <!--<div class="inp">-->
                        <!--<input type="text" class="form-control" v-model="resourceMeteData.organisationAddress" placeholder="资源提供方地址"/>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="item">
                    <label>关键字</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.keyword" placeholder="关键字"/>
                    </div>
                </div>
                <div class="item">
                    <label>信息资源标识</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.resourceSign" placeholder="信息资源标识"/>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="item">
                    <label style="vertical-align: top">信息资源摘要</label>
                    <div class="inp">
                        <el-input
                                type="textarea"
                                :rows="2"
                                placeholder="信息资源摘要"
                                v-model="resourceMeteData.resourceAbstract">
                        </el-input>
                        <!--<input type="textarea" class="form-control" v-model="resourceMeteData.resourceAbstract" placeholder="信息资源摘要"/>-->
                    </div>
                </div>
                <!--<div class="item"></div>-->
                <!--<div class="item"></div>-->
            </div>
        </div>
        <div class="divBox">
            <div class="grid-btn" style="">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    数据列表
                </span>
                <div class="right">
                    <el-button size="medium" type="primary" @click="addUp">新增</el-button>&nbsp;&nbsp;
                    <el-button size="medium" type="primary" @click="delUp">删除</el-button>&nbsp;&nbsp;
                    <el-button size="medium" type="primary" @click="setUp">批量设置</el-button>&nbsp;&nbsp;
                    <!--<el-button size="medium" type="primary" @click="inUp">导入</el-button>&nbsp;&nbsp;-->
                    <el-button size="medium" type="primary" @click="outUp">导出</el-button>&nbsp;&nbsp;
                    <div style="display: inline-block">
                        <el-upload
                                class="avatar-uploader"
                                ref="upload"
                                action='${request.contextPath}/resource/resourcefield/importField'
                                :show-file-list="false"
                                :on-change="handlePreview"
                                :on-success="handleAvatarSuccess"
                                :auto-upload="false"
                                :before-upload="beforeAvatarUpload">
                            <el-button size="medium" type="primary">导入</el-button>
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </div>
                    <el-button size="medium" type="primary" @click="downUp">下载模版</el-button>&nbsp;&nbsp;

                </div>
            </div>
            <el-table
                    :data="resourceMeteData.fieldList"
                    border
                    stripe
                    @selection-change="toggleSelection1"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="40">
                </el-table-column>
                <el-table-column
                        prop="cnName"
                        label="中文名称"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="euName"
                        label="英文名称"
                        width="">
                </el-table-column>
                <el-table-column
                        prop=""
                        label="数据类型"
                        width="">
                    <template slot-scope="scope">
                        <span v-if="scope.row.dataType == 0">整型</span>
                        <span v-if="scope.row.dataType == 1">实型</span>
                        <span v-if="scope.row.dataType == 2">布尔型</span>
                        <span v-if="scope.row.dataType == 3">字符串</span>
                        <span v-if="scope.row.dataType == 4">日期</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="dataLength"
                        label="数据长度"
                        width="">
                </el-table-column>
                <el-table-column
                        prop=""
                        label="判断必选"
                        width="">
                    <template slot-scope="scope">
                        <el-tag v-if="scope.row.judgeMandatory == 0" type="danger">必选</el-tag>
                        <el-tag v-if="scope.row.judgeMandatory == 1">非必选</el-tag>
                    </template>
                </el-table-column>
                <!--<el-table-column-->
                        <!--prop="keyword"-->
                        <!--label="关键字"-->
                        <!--width="">-->
                <!--</el-table-column>-->
                <el-table-column
                        prop="createDate"
                        label="创建时间"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="updateTime"
                        label="更新时间"
                        width="">
                </el-table-column>

                <el-table-column
                        label="操作"
                        width="80">
                    <template slot-scope="scope">
                        <i class="el-icon-edit" @click="editUp(scope.row.fieldId)"></i>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <el-pagination
                    background
                    pager-count="1"
                    :current-page="page1"
                    layout="prev, pager, next, jumper"
                    @current-change="layerPage1"
                    :total="totalPage1">
            </el-pagination>
        </div>
    </div>

    <div id="addUp" class="panel panel-default" style="display: none">
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">中文名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="fileData.cnName" placeholder="中文名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">英文名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="fileData.euName" placeholder="英文名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">数据类型</div>
                <div class="col-sm-10">
                    <el-select v-model="fileData.dataType" placeholder="请选择" @change="setCom">
                        <el-option
                                key="0"
                                label="整型"
                                value="0">
                        </el-option>
                        <el-option
                                key="1"
                                label="实型"
                                value="1">
                        </el-option>
                        <el-option
                                key="2"
                                label="布尔型"
                                value="2">
                        </el-option>
                        <el-option
                                key="3"
                                label="字符串"
                                value="3">
                        </el-option>
                        <el-option
                                key="4"
                                label="日期"
                                value="4">
                        </el-option>
                    </el-select>
                    <!--<input type="text" class="form-control" v-model="fileData.dataType" placeholder="数据类型"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">数据长度</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="fileData.dataLength" placeholder="数据长度"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">判断必选</div>
                <div class="col-sm-10">
                    <el-select v-model="fileData.judgeMandatory" placeholder="请选择">
                        <el-option
                                key="0"
                                label="必选"
                                value="0">
                        </el-option>
                        <el-option
                                key="1"
                                label="非必选"
                                value="1">
                        </el-option>
                    </el-select>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">关键字</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="fileData.keyword" placeholder="关键字"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">更新时间</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" v-model="fileData.updateTime" placeholder="更新时间"/>-->
                <!--</div>-->
            <!--</div>-->

        </form>
    </div>


    <!-- 选择上级菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>
    <!-- 选择上级菜单 -->
    <div id="menuLayer1" style="display: none;padding:10px;">
        <ul id="menuTree1" class="ztree"></ul>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/resource/catalogue.js"></script>
</body>
</html>