<!DOCTYPE html>
<html>
<head>
    <title>kettle作业管理</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
        <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
        <style>
            span.stop{
                display: inline-block;
                padding: 2px 4px;
                border-radius: 2px;
                background: #f56c6c;
                color: #fff;
                font-size: 12px;
            }
            span.ok{
                display: inline-block;
                padding: 2px 4px;
                border-radius: 2px;
                background: #409eff;
                color: #fff;
                font-size: 12px;
            }
            .el-select-dropdown{
                z-index:100000000!important;
                width: 193px;
            }
            .el-select,.el-autocomplete{
                width: 100%;
            }
            .el-input__inner{
                height: 34px;
            }
            .el-autocomplete-suggestion{
                z-index:100000000!important;
            }
            .switchIn .el-select{
                width: calc(100% - 116px);
            }
        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <!--<div :class="open ? 'divBox open' : 'divBox'" :style="open ? 'height:45px' : 'height:'+h+'px'">-->
    <!--<div class="grid-btn" style="border-bottom: 1px solid #e7eaec">-->
    <!--<span class="title">-->
    <!--<i class="el-icon-search"></i>-->
    <!--筛选查询-->
    <!--</span>-->
    <!--<div class="right">-->
    <!--<el-button size="medium" type="primary" @click="openSwitch" :data-open="open">{{openText}}</el-button>-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="switchIn">-->
    <!--<span>-->
    <!--<label>任务名：</label>-->
    <!--<input class="el-input__inner" type="text" placeholder="分类编号" v-model="q.type" >-->
    <!--</span>-->
    <!--<span>-->
    <!--<label>部门：</label>-->
    <!--<el-select v-model="q.bumen" placeholder="请选择">-->
    <!--<el-option-->
    <!--v-for="item in comList"-->
    <!--:key="item.organisationId"-->
    <!--:label="item.organisationName"-->
    <!--:value="item.organisationId">-->
    <!--</el-option>-->
    <!--</el-select>-->
    <!--&lt;!&ndash;<input class="el-input__inner" type="text" placeholder="分类名称" v-model="q.name" >&ndash;&gt;-->
    <!--</span>-->
    <!--</div>-->
    <!--<button class="clean" @click="clean">重置</button>-->
    <!--<button class="look" @click="query">查询</button>-->
    <!--</div>-->
    <div class="divBox">
        <div class="grid-btn">
            <span class="title">
                <i class="el-icon-s-operation"></i>
                数据列表
            </span>
            <div class="right">
                <#if shiro.hasPermission("resource:metecategory:save")>
                    <el-button size="medium" type="primary" @click="add">新增</el-button>&nbsp;&nbsp;
                    <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
                </#if>
                <!--<#if shiro.hasPermission("resource:metecategory:update")>-->
                <!--<el-button size="medium" type="primary" @click="update">修改</el-button>&nbsp;&nbsp;-->
                <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
                <!--</#if>-->
                <#if shiro.hasPermission("resource:metecategory:delete")>
                    <el-button size="medium" type="primary" @click="del">删除</el-button>&nbsp;&nbsp;
                    <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
                </#if>
                <!--<el-button size="medium" type="primary" @click="down">下载</el-button>&nbsp;&nbsp;-->
            </div>
        </div>
        <el-table
                v-loading="loading"
                :data="tableList"
                border
                stripe
                @selection-change="toggleSelection"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="40">
            </el-table-column>
            <el-table-column
                    prop="ftpName"
                    label="任务名"
                    width="">
            </el-table-column>
            <el-table-column
                    label="状态"
                    width="90">
                <template slot-scope="scope">
                    <el-tag
                            v-if="scope.row.ftpStatus == 1"
                            size="small"
                            type="info"
                            effect="dark">
                        未上传
                    </el-tag>
                    <el-tag
                            v-if="scope.row.ftpStatus == 2"
                            size="small"
                            type="warning"
                            effect="dark">
                        上传中
                    </el-tag>
                    <el-tag
                            v-if="scope.row.ftpStatus == 3"
                            size="small"
                            type="success"
                            effect="dark">
                        已上传
                    </el-tag>
                    <el-tag
                            v-if="scope.row.ftpStatus == 4"
                            size="small"
                            type="success"
                            effect="dark">
                        上传失败
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    prop="ftpFilepath"
                    label="文件路径"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="ftpFtppath"
                    label="ftp路径"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="ftpIp"
                    label="IP"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="ftpPort"
                    label="端口"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="ftpCreatetime"
                    label="创建时间"
                    width="130">
            </el-table-column>
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    header-align="center"
                    width="120">
                <template slot-scope="scope">
                    <el-button v-if="scope.row.ftpStatus == 2 || scope.row.ftpStatus == 3" type="text" @click="lookC(scope.row.ftpId)">查看</el-button>
                    <i class="el-icon-edit" v-if="scope.row.ftpStatus == 1 || scope.row.ftpStatus == 4" @click="update(scope.row.ftpId)"></i>
                    <span v-if="scope.row.ftpStatus == 1 || scope.row.ftpStatus == 4" style="color: #ccc;display: inline-block;margin: 0 6px">|</span>
                    <el-button v-if="scope.row.ftpStatus == 1 || scope.row.ftpStatus == 4" type="text" @click="implement(scope.row.ftpId)">上传</el-button>
                    <!--<el-button v-if="scope.row.ftpStatus == 3" type="text" @click="down(scope.row.ktrName)">下载</el-button>-->

                </template>
            </el-table-column>
        </el-table>
        <br>
        <el-pagination
                background
                :current-page="page"
                layout="prev, pager, next, jumper,total,->,slot"
                @current-change="layerPage"
                :total="totalPage">
        </el-pagination>
        <!--<table id="menuTable" data-mobile-responsive="true" data-click-to-select="true">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th data-field="selectItem" data-checkbox="true"></th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--</table>-->
    </div>

    <div style="display: none" id="addUp" class="panel panel-default">
        <!--<div class="panel-heading">{{title}}</div>-->
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">任务名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpName" placeholder="任务名" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">文件路径</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpFilepath" placeholder="文件路径" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">ftp路径</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpFtppath" placeholder="ftp路径" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">IP</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpIp" placeholder="IP" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">端口</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpPort" placeholder="端口" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">用户名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpUsername" placeholder="用户名" :readonly="look"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label mustFill">密码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="meteCategory.ftpPassword" placeholder="密码" :readonly="look"/>
                </div>
            </div>
        </form>
    </div>

    <!-- 选择上级菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/resource/fileChange.js?_${.now?long}"></script>
</body>
</html>