<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>元数据管理</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
        <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
        <style>
            html,body{
                height: 100%;
            }
            #rrapp{
                height: 100%;
            }
            .el-button--primary{
                width: 110px;
                height: 25px;
                padding: 0;
            }
            .box{
                display: flex;
                height: 100%;
            }
            .objectList{
                width: 220px;
                background: #fff;
                box-shadow: 0 0 10px #eee;
                margin-right: 10px;
                overflow-y: auto;
            }
            .listCon{
                width: calc(100% - 230px);
            }
            .listCon .divBox{
                /*height: calc(100% - 50px);*/
            }
            .el-tree .el-tree-node.is-expanded>.el-tree-node__content{
                background: #fff;
                color: #2593f3;

            }
            .el-tree-node.is-expanded.is-current>.el-tree-node__content{
                background: #2593f3;
                color: #fff;
            }
            .el-tree-node.is-current>.el-tree-node__content{
                background: #2593f3;
                color: #fff;
            }
            .el-input__inner{
                width: 90%;
                margin: 0 5% 10px 5%;
            }
            .el-select{
                width: 100%;
            }
            .el-select .el-input__inner{
                display: block;
                width: 100%;
                margin: 0;
                height: 34px;
                padding: 6px 12px;
                font-size: 16px;
                line-height: 1.42857143;
                color: #555;
                background-color: none;
                background-image: none;
                border: 1px solid #d2d2d2;
                border-radius: 4px;
                -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
            .el-popper[x-placement^=bottom]{
                z-index:99999999999!important;
            }
            .listCon>.el-button{
                width: 120px;
                height: 40px;
                color: #2593f3;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 40px;
                padding: 0;
                font-weight: normal;
            }
            .listCon>.el-button.active{
                background: #2593f3;
                color: #fff;
                border-color: #2593f3;
            }
            #addUp .el-select .el-input__inner{
                background: #f1f4fb;
                border-color: #f1f4fb;
            }
            div.line .item label{
                width: 72px;
            }
            div.line .item>div.inp{
                width: calc(100% - 140px);
            }
            #addUp{
                display: flex;
            }

        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div class="box" v-show="showList">
        <div class="objectList">
            <div class="grid-btn">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    对象列表
                </span>
            </div>

            <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-tree class="filter-tree" :data="menuList" :props="props"
                     :filter-node-method="filterNode" ref="tree" accordion @node-click="handleNodeClick">
            </el-tree>
        </div>
        <div class="listCon">
            <!--<button :class="tab == 0 ? 'el-button active' : 'el-button'" @click="tabClick(0)">待提交</button>-->
            <!--<button :class="tab == 1 ? 'el-button active' : 'el-button'" @click="tabClick(1)">审核中</button>-->
            <!--<button :class="tab == 2 ? 'el-button active' : 'el-button'" @click="tabClick(2)">审核通过</button>-->
            <div :class="open ? 'divBox open' : 'divBox'" :style="open ? 'height:45px' : 'height:'+h+'px'">
                <div class="grid-btn" style="border-bottom: 1px solid #e7eaec">
                <span class="title">
                    <i class="el-icon-search"></i>
                    筛选查询
                </span>
                    <div class="right">
                        <el-button size="medium" type="primary" @click="openSwitch" :data-open="open1">{{openText}}</el-button>
                    </div>

                </div>
                <div class="switchIn">
                    <span>
                        <label>编号：</label>
                        <input class="el-input__inner" type="text" placeholder="编号" v-model="q.meteSetNumber" >
                    </span>
                    <span>
                        <label>中文名称：</label>
                        <input class="el-input__inner" type="text" placeholder="中文名称" v-model="q.cnName" >
                    </span>
                </div>
                <button class="clean" @click="clean">重置</button>
                <button class="look" @click="query">查询</button>
            </div>
            <div class="divBox" style="margin-bottom: 0;">

                <div class="grid-btn">
                    <span class="title">
                        <i class="el-icon-s-operation"></i>
                        数据列表
                    </span>
                    <div class="right">
                        <el-button size="medium" type="primary" @click="add">新增</el-button>&nbsp;&nbsp;
                        <!--<el-button size="medium" type="primary" @click="subMit" v-if="tab == 0">提交</el-button>&nbsp;&nbsp;-->
                        <el-button size="medium" type="primary" @click="outUp">导出</el-button>&nbsp;&nbsp;
                        <!--<el-button size="medium" type="primary" @click="del">删除</el-button>&nbsp;&nbsp;-->
                    </div>
                </div>
                <el-table
                        :data="tableList"
                        border
                        stripe
                        @selection-change="toggleSelection"
                        style="width: 100%">
                    <el-table-column
                            prop="meteSetNumber"
                            label="编号"
                            width="">
                    </el-table-column>
                    <el-table-column
                            prop="cnName"
                            label="中文名称"
                            width="">
                    </el-table-column>
                    <el-table-column
                            prop="euName"
                            label="英文名称"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="euShortName"
                            label="英文短名"
                            width="110">
                    </el-table-column>
                    <el-table-column
                            prop="createDate"
                            label="创建时间"
                            width="110">
                    </el-table-column>
                    <el-table-column
                            label="状态"
                            width="90">
                        <template slot-scope="scope">
                            <el-tag
                                    v-if="scope.row.reviewState == 0"
                                    size="small"
                                    type="warning"
                                    effect="dark">
                                待提交
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 1"
                                    size="small"
                                    type="warning"
                                    effect="dark">
                                待审核
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 2"
                                    size="small"
                                    type="success"
                                    effect="dark">
                                通过
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.reviewState == 3"
                                    size="small"
                                    type="danger"
                                    effect="dark">
                                未通过
                            </el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="历史版本"
                            align="center"
                            header-align="center"
                            width="100">
                        <template slot-scope="scope">
                            <i class="el-icon-s-operation" @click="getHist(scope.row.meteSetId)"></i>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作"
                            align="center"
                            header-align="center"
                            width="100">
                        <template slot-scope="scope">
                            <i class="el-icon-edit" @click="update(scope.row.meteSetId)" title="修改"></i>
                            <span style="color: #ccc;display: inline-block;margin: 0 6px">|</span>
                            <i class="el-icon-delete" @click="del(scope.row.meteSetId)" title="删除"></i>
                        </template>
                    </el-table-column>
                </el-table>
                <br>
                <el-pagination
                        background
                        pager-count="1"
                        :current-page="page"
                        layout="prev, pager, next, jumper,total,->,slot"
                        @current-change="layerPage"
                        :total="totalPage">
                </el-pagination>

            </div>
        </div>
    </div>

    <div v-show="!showList" class="">
        <div style="margin-bottom: 20px;overflow: hidden">
            <button class="look" @click="saveOrUpdate">确定</button>
            <button class="clean" @click="reload">取消</button>

        </div>
        <div class="divBox">
            <div class="grid-btn" style="border-bottom: 1px solid #eee;margin-bottom: 20px">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    {{title}}
                </span>

            </div>
            <div class="line">
                <div class="item">
                    <label>编号</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.meteSetNumber" placeholder="编号"/>
                    </div>
                </div>
                <div class="item">
                    <label>分类名称</label>
                    <div class="inp">
                        <el-select v-model="resourceMeteData.meteCategorySetId" placeholder="请选择">
                            <el-option
                                    v-for="item in fenlSelect"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="item">
                    <label>中文名称</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.cnName" placeholder="中文名称"/>
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="item">
                    <label>英文名称</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.euName" placeholder="英文名称"/>
                    </div>
                </div>
                <div class="item">
                    <label>英文短名</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.euShortName" placeholder="英文短名"/>
                    </div>
                </div>
                <div class="item"></div>
            </div>
        </div>
        <div class="divBox">
            <div class="grid-btn" style="">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    元数据元素或实体列表
                </span>
                <div class="right">
                    <el-button size="medium" type="primary" @click="addUp">新增</el-button>&nbsp;&nbsp;
                    <el-button size="medium" type="primary" @click="delUp">删除</el-button>&nbsp;&nbsp;


                </div>
            </div>
            <el-table
                    :data="resourceMeteData.meteDataList"
                    border
                    stripe
                    @selection-change="toggleSelection1"
                    style="width: 100%">
                <el-table-column
                        type="selection"
                        width="40">
                </el-table-column>
                <el-table-column
                        prop="cnName"
                        label="编号"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="cnName"
                        label="中文名称"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="euName"
                        label="英文名称"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="euName"
                        label="英文短名"
                        width="">
                </el-table-column>
                <el-table-column
                        prop="updateTime"
                        label="更新时间"
                        width="110">
                </el-table-column>
                <el-table-column
                        label="是否禁用"
                        width="90">
                    <template slot-scope="scope">
                        <el-tag
                                v-if="scope.row.isDisabled == 0"
                                size="small"
                                type="success"
                                effect="dark">
                            否
                        </el-tag>
                        <el-tag
                                v-if="scope.row.isDisabled == 1"
                                size="small"
                                type="danger"
                                effect="dark">
                            是
                        </el-tag>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <el-pagination
                    background
                    pager-count="1"
                    :current-page="page1"
                    layout="prev, pager, next, jumper"
                    @current-change="layerPage1"
                    :total="totalPage1">
            </el-pagination>
        </div>
    </div>
    <div id="addUp" class="panel panel-default" style="display: none;height: calc(100% - 20px);">
        <div class="objectList" style="height: calc(100% - 10px);">
            <div class="grid-btn">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    对象列表
                </span>
            </div>

            <el-input
                    placeholder="输入关键字进行过滤"
                    v-model="filterText">
            </el-input>
            <el-tree class="filter-tree" :data="menuList1" :props="props"
                     :filter-node-method="filterNode1" ref="tree" accordion @node-click="handleNodeClick1">
            </el-tree>
        </div>
        <div class="listCon" style="">
            <!--<button :class="tab == 0 ? 'el-button active' : 'el-button'" @click="tabClick(0)">待提交</button>-->
            <!--<button :class="tab == 1 ? 'el-button active' : 'el-button'" @click="tabClick(1)">审核中</button>-->
            <!--<button :class="tab == 2 ? 'el-button active' : 'el-button'" @click="tabClick(2)">审核通过</button>-->
            <div class="divBox" style="margin-bottom: 0;height: calc(100% - 10px);">

                <div class="grid-btn">
                    <span class="title">
                        <i class="el-icon-s-operation"></i>
                        数据列表
                    </span>
                    <div class="right">

                    </div>
                </div>
                <el-table
                        :data="tableList1"
                        border
                        stripe
                        @selection-change="toggleSelection2"
                        style="width: 100%">
                    <el-table-column
                            type="selection"
                            width="40">
                    </el-table-column>
                    <el-table-column
                            prop="meteNumber"
                            label="编号"
                            width="90">
                    </el-table-column>
                    <el-table-column
                            prop="cnName"
                            label="中文名称"
                            width="">
                    </el-table-column>
                    <el-table-column
                            prop="euName"
                            label="英文名称"
                            width="130">
                    </el-table-column>
                    <el-table-column
                            prop="euShortName"
                            label="英文短名"
                            width="110">
                    </el-table-column>
                    <el-table-column
                            prop="updateTime"
                            label="更新时间"
                            width="110">
                    </el-table-column>
                    <el-table-column
                            label="是否禁用"
                            width="90">
                        <template slot-scope="scope">
                            <el-tag
                                    v-if="scope.row.isDisabled == 0"
                                    size="small"
                                    type="success"
                                    effect="dark">
                                否
                            </el-tag>
                            <el-tag
                                    v-if="scope.row.isDisabled == 1"
                                    size="small"
                                    type="danger"
                                    effect="dark">
                                是
                            </el-tag>
                        </template>
                    </el-table-column>
                </el-table>
                <br>
                <el-pagination
                        background
                        pager-count="1"
                        :current-page="page1"
                        layout="prev, pager, next, jumper,total,->,slot"
                        @current-change="layerPage"
                        :total="totalPage1">
                </el-pagination>

            </div>
        </div>
    </div>

    <!--历史版本-->
    <div id="hisList" class="panel panel-default" style="display: none;">
        <el-table
                :data="hisList"
                border
                stripe
                @selection-change="toggleSelection"
                style="width: 100%">
            <el-table-column
                    prop="versionNumber"
                    label="版本号"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="meteSetNumber"
                    label="编号"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="cnName"
                    label="中文名称"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="euName"
                    label="英文名称"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="euShortName"
                    label="英文短名"
                    width="110">
            </el-table-column>
            <el-table-column
                    prop="createDate"
                    label="创建时间"
                    width="110">
            </el-table-column>
            <el-table-column
                    label="状态"
                    width="90">
                <template slot-scope="scope">
                    <el-tag
                            v-if="scope.row.reviewState == 0"
                            size="small"
                            type="warning"
                            effect="dark">
                        待提交
                    </el-tag>
                    <el-tag
                            v-if="scope.row.reviewState == 1"
                            size="small"
                            type="warning"
                            effect="dark">
                        待审核
                    </el-tag>
                    <el-tag
                            v-if="scope.row.reviewState == 2"
                            size="small"
                            type="success"
                            effect="dark">
                        通过
                    </el-tag>
                    <el-tag
                            v-if="scope.row.reviewState == 3"
                            size="small"
                            type="danger"
                            effect="dark">
                        未通过
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    header-align="center"
                    width="100">
                <template slot-scope="scope">
                    <i class="el-icon-refresh" @click="update(scope.row.meteSetId)" title="撤回"></i>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- 选择上级菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>
    <!-- 选择上级菜单 -->
    <div id="menuLayer1" style="display: none;padding:10px;">
        <ul id="menuTree1" class="ztree"></ul>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/resource/metecategoryJG.js"></script>
</body>
</html>