<!DOCTYPE html>
<html>
<head>
    <title>监控管理</title>
    <#include "/header.html">
        <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
        <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
        <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
        <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
        <style>
            span.stop{
                display: inline-block;
                padding: 2px 4px;
                border-radius: 2px;
                background: #f56c6c;
                color: #fff;
                font-size: 12px;
            }
            span.ok{
                display: inline-block;
                padding: 2px 4px;
                border-radius: 2px;
                background: #409eff;
                color: #fff;
                font-size: 12px;
            }
            .el-select-dropdown{
                z-index:100000000!important;
                width: 193px;
            }
            .el-select,.el-autocomplete{
                width: 100%;
            }
            .el-input__inner{
                height: 34px;
            }
            .el-autocomplete-suggestion{
                z-index:100000000!important;
            }
        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div class="divBox" v-show="showList">
        <div class="grid-btn">
            <span class="title">
                <i class="el-icon-s-operation"></i>
                数据列表
            </span>
            <div class="right">

            </div>
        </div>
        <el-table
                :data="tableList"
                border
                stripe
                @expand-change="openToggleRowExpansion"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-table
                            :data="props.row.list"
                            border
                            stripe
                            style="width: 100%">
                        <el-table-column
                                prop="dsNam"
                                label="任务名称"
                                width="">
                        </el-table-column>
                        <el-table-column
                                prop="dsType"
                                label="执行开始时间"
                                width="">
                        </el-table-column>
                        <el-table-column
                                prop="dsDepartment"
                                label="部门"
                                width="130">
                        </el-table-column>
                        <el-table-column
                                prop="dsLinetype"
                                label="连接类型"
                                width="130">
                        </el-table-column>
                        <el-table-column
                                prop="dsIpname"
                                label="主机名"
                                width="130">
                        </el-table-column>
                        <el-table-column
                                prop="dsPort"
                                label="端口号"
                                width="130">
                        </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <el-table-column
                    prop="dsNam"
                    label="数据源名称"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="dsType"
                    label="数据源类型"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="dsDepartment"
                    label="部门"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="dsLinetype"
                    label="连接类型"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="dsIpname"
                    label="主机名"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="dsPort"
                    label="端口号"
                    width="130">
            </el-table-column>
            <el-table-column
                    label="是否禁用"
                    width="90">
                <template slot-scope="scope">
                    <el-tag
                            v-if="scope.row.isDisabled == 0"
                            size="small"
                            type="success"
                            effect="dark">
                        否
                    </el-tag>
                    <el-tag
                            v-if="scope.row.isDisabled == 1"
                            size="small"
                            type="danger"
                            effect="dark">
                        是
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    header-align="center"
                    width="100">
                <template slot-scope="scope">
                    <el-button type="text" @click="lookC(scope.row.meteSetId)">查看</el-button>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <el-pagination
                background
                :current-page="page"
                layout="prev, pager, next, jumper,total,->,slot"
                @current-change="layerPage"
                :total="totalPage">
        </el-pagination>
    </div>

    <div v-show="!showList" class="">
        <div style="margin-bottom: 20px;overflow: hidden">
            <!--<button class="look" @click="saveOrUpdate">确定</button>-->
            <button class="clean" @click="reload">取消</button>

        </div>

        <div class="divBox">
            <div class="grid-btn" style="border-bottom: 1px solid #eee;margin-bottom: 20px">
                <span class="title">
                    <i class="el-icon-edit-outline"></i>
                    详情查看
                </span>

            </div>
            <div class="line">
                <div class="item">
                    <label>编号</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.meteNumber" placeholder="编号"/>
                    </div>
                </div>
                <div class="item">
                    <label>中文名称</label>
                    <div class="inp">
                        <input type="text" class="form-control" v-model="resourceMeteData.cnName" placeholder="中文名称"/>
                    </div>
                </div>


            </div>


        </div>
    </div>

    <!-- 选择上级菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/resource/monitor.js?_${.now?long}"></script>
</body>
</html>