<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div class="divBox">
        <div class="grid-btn">
            <span class="title">
                <i class="el-icon-s-operation"></i>
                数据列表
            </span>
            <div class="right">
                <#if shiro.hasPermission("resource:organisationinfo:save")>
                    <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
                    <el-button size="medium" type="primary" @click="add">新增</el-button>&nbsp;&nbsp;
                </#if>
                <#if shiro.hasPermission("resource:organisationinfo:update")>
                    <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
                    <!--<el-button size="medium" type="primary" @click="update">修改</el-button>&nbsp;&nbsp;-->
                </#if>
                <#if shiro.hasPermission("resource:organisationinfo:delete")>
                    <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
                    <el-button size="medium" type="primary" @click="del">删除</el-button>&nbsp;&nbsp;
                </#if>
            </div>

        </div>
        <!--<table id="jqGrid"></table>-->
        <!--<div id="jqGridPager"></div>-->

        <el-table
                :data="tableList"
                border
                stripe
                @selection-change="toggleSelection"
                style="width: 100%">
            <el-table-column
                    fixed
                    type="selection"
                    width="40">
            </el-table-column>
            <el-table-column
                    prop="organisationName"
                    label="机构名称"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="organisationAddr"
                    label="机构地址"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="linkman"
                    label="联系人"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="联系电话"
                    width="">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    header-align="center"
                    width="100">
                <template slot-scope="scope">
                    <i class="el-icon-edit" @click="update(scope.row.organisationId)" style=""></i>
                    <span style="color: #ccc;display: inline-block;margin: 0 6px">|</span>
                    <i class="el-icon-view" @click="lookPassword(scope.row)" style="cursor:pointer;"></i>
                </template>
            </el-table-column>

        </el-table>
        <br>
        <el-pagination
                background
                pager-count="1"
                :current-page="page"
                layout="prev, pager, next, jumper"
                @current-change="layerPage"
                :total="totalPage">
        </el-pagination>

    </div>

    <div class="panel panel-default" id="addUp" style="display: none">
        <!--<div class="panel-heading">{{title}}</div>-->
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">机构名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organisationInfo.organisationName" placeholder="机构名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">机构地址</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organisationInfo.organisationAddr" placeholder="机构地址"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organisationInfo.linkman" placeholder="联系人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">联系电话</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="organisationInfo.phone" placeholder="联系电话"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
                <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
            </div>
        </form>
    </div>

    <div id="lookPassword" class="panel panel-default" style="display: none">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">access_key</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="password.accessKey" disabled placeholder="access_key"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">access_secret</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="password.accessSecret" disabled placeholder="access_secret"/>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/resource/organisationinfo.js?_${.now?long}"></script>
</body>
</html>