<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <#include "/header.html">
        <style>
            .chart{
                display: inline-block;
                width: calc(50% - 10px);
            }
            #statistics{
                width: 100%;
                height: 538px;
            }
            #statistics1{
                width: 100%;
                height: 538px;
            }
        </style>

</head>
<body>

<div id="rrapp">
    <div class="divBox chart" style="">
        <div class="grid-btn" style="border-bottom: 1px solid #eee">
            <span class="title">
                <i class="el-icon-s-operation"></i>
                资源统计
            </span>
        </div>
        <div id="statistics"></div>
    </div>
    <div class="divBox chart" style="">
        <div class="grid-btn" style="border-bottom: 1px solid #eee">
            <span class="title">
                <i class="el-icon-s-operation"></i>
                资源统计
            </span>
        </div>
        <div id="statistics1"></div>
    </div>

</div>

<script src="${request.contextPath}/statics/js/echarts.min.js"></script>
<script src="${request.contextPath}/statics/js/modules/resource/chart.js"></script>
<script src="${request.contextPath}/statics/js/modules/resource/resources.js"></script>
</body>
</html>