<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
            <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-table.min.css">
            <link rel="stylesheet" href="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.css">
            <script src="${request.contextPath}/statics/libs/bootstrap-table.min.js"></script>
            <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.min.js"></script>
            <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
            <script src="${request.contextPath}/statics/plugins/treegrid/jquery.treegrid.extension.js"></script>
            <script src="${request.contextPath}/statics/plugins/treegrid/tree.table.js"></script>
            <style>
                span.stop{
                    display: inline-block;
                    padding: 2px 4px;
                    border-radius: 2px;
                    background: #f56c6c;
                    color: #fff;
                    font-size: 12px;
                }
                span.ok{
                    display: inline-block;
                    padding: 2px 4px;
                    border-radius: 2px;
                    background: #409eff;
                    color: #fff;
                    font-size: 12px;
                }
            </style>
</head>
<body>
<div id="rrapp" v-cloak>

    <div v-show="showList">
        <div class="grid-btn">
            <!--<div class="form-group col-sm-2">-->
                <!--<el-input-->
                        <!--placeholder="目录名称"-->
                        <!--v-model="q.name"-->
                        <!--clearable-->
                        <!--@keyup.enter="query">-->
                <!--</el-input>-->
                <!--&lt;!&ndash;<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="目录名称">&ndash;&gt;-->
            <!--</div>-->
            <!--<el-button size="medium" type="primary" @click="query">查询</el-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <el-button size="medium" type="success" plain icon="el-icon-download" @click="downTemplate">下载目录模板</el-button>&nbsp;&nbsp;
            <el-button size="medium" type="primary" plain icon="el-icon-plus" @click="add">新增</el-button>&nbsp;&nbsp;
            <el-button size="medium" type="warning" plain icon="el-icon-edit" @click="update">修改</el-button>&nbsp;&nbsp;
            <el-button size="medium" type="danger" plain icon="el-icon-delete" @click="del">删除</el-button>&nbsp;&nbsp;
            <!--<el-button size="medium" type="primary" plain icon="el-icon-bottom-left" @click="daoru">导入</el-button>&nbsp;&nbsp;-->
            <!--<button class="el-button el-button&#45;&#45;primary el-button&#45;&#45;medium is-plain" style="position: relative;">-->
                <!--<i class="el-icon-bottom-left"></i> <span>导入</span>-->
                <!--<input type="file" style="opacity: 0;position: absolute;top: 0;left: 0;width: 100%;height: 100%;" @change="">-->
            <!--</button>-->
            <el-button size="medium" type="primary" plain icon="el-icon-top-right" @click="downCatalog">导出</el-button>&nbsp;&nbsp;
            <div style="display: inline-block">
                <el-upload
                        class="avatar-uploader"
                        action='${request.contextPath}/resource/resourcecatalog/importCatalog'
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <el-button size="medium" type="primary" plain icon="el-icon-bottom-left">导入</el-button>
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </div>




        </div>
        <table id="menuTable" data-mobile-responsive="true" data-click-to-select="true">
            <thead>
            <tr>
                <th data-field="selectItem" data-checkbox="true"></th>
            </tr>
            </thead>
        </table>



    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">目录名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.name" placeholder="目录名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">上级id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.parentId" placeholder="上级id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">目录类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.type" placeholder="目录类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.remark" placeholder="描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.createUserId" placeholder="创建人id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.createUserName" placeholder="创建人"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建部门id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.createDeptId" placeholder="创建部门id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建部门</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.createDeptName" placeholder="创建部门"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否使用（0：停用；1：使用）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.isUsed" placeholder="是否使用（0：停用；1：使用）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否删除（0：未删除；1：已删除）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="resourceCatalog.isDeleted" placeholder="是否删除（0：未删除；1：已删除）"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!--<script src="${request.contextPath}/statics/js/modules/sys/menu.js?_${.now?long}"></script>-->
<script src="${request.contextPath}/statics/js/modules/resource/resourcecatalog.js?_${.now?long}"></script>
</body>
</html>