<!DOCTYPE html>
<html>
<head>
    <title>字典管理</title>
	<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList" :class="open ? 'divBox open' : 'divBox'" :style="open ? 'height:45px' : 'height:'+h+'px'">
        <div class="grid-btn" style="border-bottom: 1px solid #e7eaec">
                    <span class="title">
                        <i class="el-icon-search"></i>
                        筛选查询
                    </span>
            <div class="right">
                <el-button size="medium" type="primary" @click="openSwitch" :data-open="open">{{openText}}</el-button>
            </div>

        </div>
        <div class="switchIn">
			<span>
				<label>字典名称：</label>
				<input class="el-input__inner" type="text" placeholder="字典名称" v-model="q.name" >
			</span>

        </div>
        <button class="clean" @click="clean">重置</button>
        <button class="look" @click="getList">查询</button>
    </div>
    <div v-show="showList" class="divBox">
        <div class="grid-btn">
            <span class="title">
				<i class="el-icon-s-operation"></i>
				数据列表
			</span>
            <div class="right">
                <#if shiro.hasPermission("sys:dict:save")>
                    <!--<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>-->
                    <el-button size="medium" type="primary" @click="add">新增</el-button>&nbsp;&nbsp;
                </#if>
                <#if shiro.hasPermission("sys:dict:update")>
                    <!--<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>-->
                    <el-button size="medium" type="primary" @click="update">修改</el-button>&nbsp;&nbsp;
                </#if>
                <#if shiro.hasPermission("sys:dict:delete")>
                    <!--<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
                    <el-button size="medium" type="primary" @click="del">删除</el-button>&nbsp;&nbsp;
                </#if>
            </div>

        </div>
        <el-table
                :data="tableList"
                border
                stripe
                @selection-change="toggleSelection"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="40">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="字典名称"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="字典类型"
                    width="">
            </el-table-column>
            <el-table-column
                    prop="code"
                    label="字典码"
                    width="130">
            </el-table-column>
            <el-table-column
                    prop="value"
                    label="字典值"
                    width="110">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center"
                    header-align="center"
                    width="100">
                <template slot-scope="scope">
                    <i class="el-icon-edit" @click="update(scope.row.id)" title="编辑"></i>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <el-pagination
                background
                :pager-count="1"
                :current-page="page"
                layout="prev, pager, next, jumper,total,->,slot"
                @current-change="layerPage"
                :total="totalPage">
        </el-pagination>

    </div>

    <div id="addUp" class="panel panel-default" style="display: none;">
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">字典名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dict.name" placeholder="字典名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">字典类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dict.type" placeholder="字典类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">字典码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dict.code" placeholder="字典码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">字典值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="dict.value" placeholder="字典值"/>
                        </div>
                    </div>
                <!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
                <!--&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>-->
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dict.js?_${.now?long}"></script>
</body>
</html>