<!DOCTYPE html>
<html>
<head>
<title>系统日志</title>
<#include "/header.html">
	<style>
		div.switchIn label{
			width: 152px;
		}
	</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div :class="open ? 'divBox open' : 'divBox'" :style="open ? 'height:45px' : 'height:'+h+'px'">
		<div class="grid-btn" style="border-bottom: 1px solid #e7eaec">
                    <span class="title">
                        <i class="el-icon-search"></i>
                        筛选查询
                    </span>
			<div class="right">
				<el-button size="medium" type="primary" @click="openSwitch" :data-open="open">{{openText}}</el-button>
			</div>

		</div>
		<div class="switchIn">
			<span>
				<label>用户名、用户操作：</label>
				<input class="el-input__inner" type="text" placeholder="用户名、用户操作" v-model="q.key" >
			</span>

		</div>
		<button class="clean" @click="clean">重置</button>
		<button class="look" @click="query">查询</button>
	</div>
	<div class="divBox">
		<div class="grid-btn">
			<span class="title">
				<i class="el-icon-s-operation"></i>
				数据列表
			</span>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
</div>

<script src="${request.contextPath}/statics/js/modules/sys/log.js?_${.now?long}"></script>
</body>
</html>