.line {
	height: 25px;
	line-height: 25px;
	margin-top: 8px!important;
	color: #666;
}
.tab-pane .line input{
	border-radius: 2px;
	border:1px solid #ddd;
}
.imp {
	padding-left: 25px;
	color: #666;
	margin-bottom: 10px;
}