<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("xj:xjmetadata:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("xj:xjmetadata:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("xj:xjmetadata:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.meteId" placeholder="编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">中文名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.cnName" placeholder="中文名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">英文名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.euName" placeholder="英文名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">英文短名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.euShortName" placeholder="英文短名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.dataType" placeholder="数据类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">控件类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.controlType" placeholder="控件类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">校验类型（0-不验证，1-验证）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.checkType" placeholder="校验类型（0-不验证，1-验证）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">数据长度</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.dataLength" placeholder="数据长度"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">值域</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.range" placeholder="值域"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">值域说明</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.rangeDescription" placeholder="值域说明"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否必选还是非必选</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.judgeMandatory" placeholder="是否必选还是非必选"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">定义</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.definition" placeholder="定义"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否禁用（0-不禁用；1-禁用）</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.isDisabled" placeholder="是否禁用（0-不禁用；1-禁用）"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建用户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.createUserId" placeholder="创建用户id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.createDate" placeholder="创建日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="xjMetaData.updateTime" placeholder="更新日期"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/xj/xjmetadata.js?_${.now?long}"></script>
</body>
</html>