html { overflow-x:hidden; }
.content-header {
    position: relative;
    padding: 0 0 3px 8px
}
#rrapp{
    padding: 40px 15px 15px 50px;
}
.divBox{
    background:#fff;
    box-shadow: 0 0 10px #eee;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*height: 171px;*/
    transition: height 1s;
}
.divBox.open{
    /*height: 45px;*/
    overflow: hidden;
    transition: height 1s;
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
    display: none;
}

.grid-btn{
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
}

span.title{
    color: #2648be;
    font-size: 18px;
}
span.title i{
    font-size: 19px;
}
.el-button--primary{
    width: 126px;
    height: 26px;
    padding: 0!important;
    background: #2593f3!important;
    font-weight: 400!important;
    font-size: 16px!important;
}
.grid-btn .right{
    float: right;
}
.grid-btn .btn{
    margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
    .ml-10 { margin-left:10px !important; }
    .col-sm-10 {width: 70%;padding-left: 0px;}
    .col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f1f4fb;color: #0f3a6f;font-size: 18px;}
.row{
    border-top: 1px solid #ddd;
    margin:0;
    padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
    width:100%;padding-top:20px;
}

.look{
    float: right;
    width: 120px;
    height: 40px;
    color: #fff;
    background: #2593f3;
    border:1px solid #2593f3;
    font-size: 18px;
    border-radius: 4px;
}
.clean{
    float: right;
    width: 120px;
    height: 40px;
    color: #2593f3;
    background: #fff;
    border:1px solid #2593f3;
    font-size: 18px;
    border-radius: 4px;
    margin: 0 10px;
}
div.switchIn{
    overflow: hidden;
    padding: 10px;

}
div.switchIn>span{
    display: inline-block;
    line-height: 51px;
    padding-right: 20px;
}
div.switchIn label{
    font-size: 16px;
    color: #404040;
    font-weight: 400;
    /*margin-left: ;*/
}
div.switchIn .el-input__inner{
    width: 366px;
    height: 31px;
}
.table1{
    width: 100%;
    border: 0;
    border-top: 1px solid #f3f4f8;
    margin-bottom: 10px;
    /*border-left: 1px solid #e5e7eb;*/
}
.table1 tr{
    border-bottom: 1px solid #f3f4f8;
}
.table1 tr:nth-child(even){
    background: #f3f4f8;
}
.table1 tr th,.table tr td{
    border-top: 0!important;
    height: 45px;
    line-height: 28px!important;
    font-size: 16px;
    padding: 0 6px;
    border-right: 1px solid #e5e7eb;
}
.table1 tr th:last-child,.table1 tr td:last-child{
    border-right: 0;
}
.table1 tr th{
    color: #000;
}
.table1 tr td{
    color: #666;
}